<li>
        {{#if devoured}}
            <input type="text" placeholder="{{burger_name}}">
        {{else}}
            {{burger_name}}
            <button class="change-status" data-id="{{id}}" data-newdevoured="{{devoured}}">
                Devour it~
            </button>
        {{/if}}

</li>